{% extends "::base.html.twig" %}

{% block title %}LastdraftPostBundle:Post:show{% endblock %}

{% block body %}
    <h1>Welcome to the Post:show page</h1>

    <ul>
        <li>
            <strong>Post Title:</strong> {{ post.title }}
        </li>
        <li>
            <strong>Author:</strong> {{ post.author.email }}
        </li>
    </ul>
{% endblock %}
