{% extends "::base.html.twig" %}

{% block title %}LastdraftPostBundle:Post:show{% endblock %}

{% block body %}
    <h1>Welcome to the Post:show page</h1>

    <strong>Post Title:</strong> {{ post.title }}
{% endblock %}
